

.header-container{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-top: 1.5rem;
    margin-bottom: 4.59rem;
}
select{
    border: none;
    background: none;
    font-size: 1.4rem;
}
.user-image, .item-image, .search-image{
    width: 16px;
    height: 16px;
}
.profile-item-search{
    display: flex;
    justify-content: space-between;

}
.profile, .search, .items{
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    
}
.my-profile, .my-item{
    margin: 0 20px;
    font-size: 1.4rem;


}