.hero-container{
    height: 60rem;
    background-image: linear-gradient(to right, #FF4858, #8F65FF);
    /* width: 100%; */
}
.hero-content{
    display: flex;
    /* justify-content: space-around; */
}
.left-arrow{
    margin: 26rem 0 36rem 18rem;
}
.iphone-x{
    margin-left: 8.01rem;
    margin-top: 17rem;
    width: 33rem;
    color: #ffffff;
}
.iphone__header{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 4.26rem;
}
.iphone__paragraph{
    font-size: 1.6rem;
    margin-bottom: 4rem;
    margin-left: 0;
    margin-right: 0;
    height: 8rem;
}
.iphone__more{
    font-size: 1.7rem;
    font-weight: bold;
    color: #ffffff;

}
.iphone-image{
    width: 65rem;
    /* border: 3px solid black; */
}
.iphone__image{
    /* border: 3px solid green; */
    max-width: 65rem;
}
.right-arrow{
    margin: 26rem 0 36rem 5rem;
}